<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Err</title>
</head>
<body>
    <header class="header">
        <div class="header__text">
          <h1>Calcule la eficiencia energética de su hogar</h1>
          <p>Tome la iniciativa y resuelva el problema del consumo excesivo de energía.</p>
        </div>
      </header>
      <main>
        {% block content %}
        <h2 class="main__title">Aprende más sobre el tema usando este video</h2>
        <ul class="list">
            <li class="list__item">
                <a href="https://youtu.be/dQw4w9WgXcQ?si=WXqcM-1SzYRQ3myC">
                <img class="item__img" src="../static/img/yt.svg" alt="Youtube Logo">
                <span>Link al Video</span></a>
            </li>
        </ul>
        {% endblock %}
      </main>
      <footer>

      </footer>
</body>
</html>